.button {
    text-decoration: none;
    background-color: transparent;
    border: transparent;
    font-family: arpona, serif;
    color: #FFFAFF;
    padding: 0;
}

.button:hover {
    color: #e7c6ff;
    cursor: pointer;
}

.text {
    font-family: arpona, serif;
    color: #FFFAFF;
    margin-bottom: 0px;
    text-decoration: none;
    margin: 0px 5px;
}

span {
    margin: 0;
}