.title {
    font-size: 48px;
    font-family: hwt-aetna,serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0px;

    a {
        color: #FFFAFF;
        text-decoration: none;
    }
}

.navList {
    display: flex;
    list-style-type: none;
    margin: 0px;

    li {
        margin-bottom: 0px;
    }
}

.navItem {
    color: #FFFAFF;
    font-size: 28px;
    font-family: arpona, serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 0 50px;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.navItem:hover {
    color: #666666;
    cursor: pointer;
}